.modal {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  width: 40rem;
  border-radius: 1.2rem;
  overflow: hidden;
}

.modal-header {
  font-size: 2.4rem;
  background-color: rgb(106, 0, 155);
  color: white;
  padding: 1.5rem 2rem;
}

.modal-body {
  font-size: 2rem;
  background-color: white;
  color: black;
  padding: 2.5rem 2rem 5rem 2rem;
  height: 15rem;
}

.modal-button {
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  background-color: rgb(106, 0, 155);
  padding: 0.7rem 0.9rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}